@using RecipeBookProject.Client.Services
@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView> 
                <Authorized>
                    <button class="btn btn-outline-primary" @onclick='() => NavigationManager.NavigateTo("profile")'>Profil</button>
                    <button class="btn btn-link" @onclick="HandleLogout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a href="register">Register</a>
                    <a href="login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/login");
    }
}